<!DOCTYPE html>
<html>
<head>
	<title>paymoi | payutc</title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<header>
	<ul id="nav-mobile" class="side-nav fixed right hide-on-med-and-down">
		<img src="img/paymoi.png" class='logo_pay'>
		<li><a  class="menu-text" href="admin"><i class="material-icons menu-icon">settings</i> Admin</a></li>
		<li><a  class="menu-text" href=""><i class="material-icons menu-icon">note_add</i> Transaction</a></li>
		<li><a  class="menu-text" href=""><i class="material-icons menu-icon">book</i> Historique</a></li>
		<li class="logo-li"><a href="http://pay.utc.fr"><img src="img/payutc.png" class="logo-in-li"></a></li>
	</ul>
</header>

<div class="container">
	<div class="row"><h1>Bienvenue {{user.name}}</h1></div>
	<!-- START INFO -->
	<div class='row'>
		<!-- CARD -->
		<div class="col s12 l6 m6">
			<div class="card green lighten-1">
				<div class="card-content">
					<span class="card-title">On me doit:</span>
					<p><span class="card-money">4.53€</span></p>
				</div>
				<div class="card-action">
					<a href="#" class="btn white">LISTE</a>
				</div>
			</div>
		</div>
		<!-- CARD -->
		<div class="col s12 l6 m6">
			<div class="card red lighten-1">
				<div class="card-content">
					<span class="card-title">Je dois:</span>
					<p><span class="card-money">36.88€</span></p>
				</div>
				<div class="card-action">
					<a href="#" class="btn white">PAYER</a>
				</div>
			</div>
		</div>
	</div>

	<!-- OTHER INFO -->
	<!-- PERFORMANCE -->
	<div class="row">
		<div class="col l12 s12 m12 highcharts-container long" id="perf-chart"></div>
	</div>
</div>

</body>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>

</html>