@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);
body{
	font-family: 'Quicksand'
}

.menu-icon{
	margin-right:25px;
}

.logo_pay{
	width: 80%;
	margin:0 auto;
	margin-top:10%;
	margin-bottom: 10%;
	display: block;
}

.logo-li{
	display: table-cell;
	vertical-align: middle;
}

.logo-in-li{
	width:70%;
	margin: 0 auto;
	display: inline;
	vertical-align: middle;
}

.menu-text{
	font-family: 'Quicksand';
	font-weight: bold;
	font-size: 1.3rem !important;
}


.container{
	box-sizing: border-box;
	padding-left:250px;
	height:100%;
	width:100%;
}

.card-money{
	font-size: 70px;
	font-weight: bold;
	font-family :'Quicksand';
	color: #FFF;

}

@media only screen and (max-width: 500px){
	.container{
		padding-left:0px;
	}
} 